.channelDisplay {
  font-size: 20px;
  padding-left: 3px;
  display: flex;
  cursor: pointer;
}
.channelDisplay > p {
  white-space: nowrap;
  flex: 0.8;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.channelText {
}
.channelDisplay__icon-container {
  display: flex;
  flex: 0.2;
}
