.modal {
  width: 350px;
  position: absolute;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  top: 20%;
  left: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  background-color: white;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.modal > input {
  width: 150px;
  height: 30px !important;
  background-color: white;
  padding: 0;
}

