.app-container {
  background: white;
  min-height: 80vh;
  max-width: 1220px;
  min-width: 850px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  /* color: #658ec6; */
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
  background: -webkit-linear-gradient(#09009f, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}
